In [16]:
import pandas as pd
import numpy as np
import math
from functools import partial, reduce

In [17]:
dfs = []
for fname in ['other_dilutions_input', 'neat_dilution_input']:
    plex_data = pd.read_csv('C:/Users/lzoeckler/Desktop/4plex/test_data/{}.csv'.format(fname),
                            skiprows=8, names=['patient_id', 'type', 'well', 'error',
                                               'HRP2_pg_ml', 'LDH_Pan_pg_ml',
                                               'LDH_Pv_pg_ml', 'CRP_ng_ml'])
    plex_data = plex_data.applymap(lambda x: x.lower() if isinstance(x, str) else x)
    plex_data['patient_id'] = plex_data['patient_id'].fillna(method='ffill')
    dfs.append(plex_data)
combined = pd.concat(dfs)
combined.head()

,patient_id,type,well,error,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,CRP_ng_ml
0,calibrator (neat),reduced concentration (replicate 1),g12,NaN,590.00,9648.76,480.71,9535.24
1,calibrator (neat),reduced concentration (replicate 2),h12,NaN,masked,11332.92,516.29,8460.31
2,calibrator (1:3),reduced concentration (replicate 1),g11,"mo2, mo3",187.97,masked,masked,5871.99
3,calibrator (1:3),reduced concentration (replicate 2),h11,NaN,206.17,3547.27,166.06,2798.18
4,calibrator (1:9),reduced concentration (replicate 1),g10,NaN,61.94,1088.41,50.93,1146.64

In [18]:
samples_data = combined.loc[combined['patient_id'].str.contains('pa-')]
samples_data = samples_data.drop('type', axis=1)
samples_data['concentration'] = samples_data['patient_id'].apply(lambda x: x.partition(' ')[-1])
samples_data['patient_id'] = samples_data['patient_id'].apply(lambda x: x.partition(' ')[0])
samples_data = samples_data.loc[(samples_data['concentration'].str.contains('neat|50x|2500x|125000x|6250000x|312500000x'))]
samples_data = samples_data.loc[~samples_data['concentration'].str.contains('low volume')]
samples_data = samples_data.loc[~samples_data['well'].isnull()]
samples_data = samples_data.sort_values(['patient_id', 'well'])
samples_data.head()

,patient_id,well,error,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,CRP_ng_ml,concentration
24,pa-002,c7,NaN,123.69,> 10514.00,> 497.04,59.29,(neat)
51,pa-002,d7,NaN,6254.92,> 525700.00,11330.65,9543.64,50x (1:50)
25,pa-003,e8,NaN,124.19,249.00,9.22,4666.60,(neat)
52,pa-003,f8,NaN,11703.59,1257.65,316.83,4139.99,50x (1:50)
26,pa-004,e9,NaN,121.96,> 10514.00,8.92,> 9574.00,(neat)

In [19]:
samples_data.tail()

,patient_id,well,error,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,CRP_ng_ml,concentration
77,pa-061,h11,NaN,13695.67,448248.71,704.35,8648.41,50x (1:50)
91,pa-062,c5,NaN,< 334375000.00,24645339916.28,4103903859.09,14691179077.97,312500000x (1:312500000)
57,pa-062,c6,NaN,3244396.67,14908760.48,1463276.99,7820214.47,125000x (1:125000)
74,pa-062,d5,NaN,7227386.34,137248891.51,25411361.92,318313406.87,6250000x (1:6250000)
40,pa-062,d6,NaN,427319.03,3912840.21,35926.84,110043.15,2500x (1:2500)

In [20]:
# threshhold values for various analytes
threshholds = {'HRP2_pg_ml': 330, 'LDH_Pan_pg_ml': 10514,
               'LDH_Pv_pg_ml': 497, 'CRP_ng_ml': 9574}

In [21]:
# constant to apply to the threshhold for different dilutions
dil_constants = {'50x': 1, '2500x': 50, '125000x': 2500,
                 '6250000x': 125000, '312500000x': 6250000}

In [22]:
# positivity threshholds for various analytes
pos_threshholds = {'HRP2_pg_ml': 2.3, 'LDH_Pan_pg_ml': 47.8,
                   'LDH_Pv_pg_ml': 75.1, 'CRP_ng_ml': np.nan}

In [23]:
#dilution sets for various dilutions
dilution_sets = {'50x': ('neat', '50x', 'fail'), '2500x': ('50x', '2500x', 'fail'),
                 '125000x': ('2500x', '125000x', 'fail'),
                 '6250000x': ('125000x', '6250000x', 'fail'),
                 '312500000x': ('6250000x', '312500000x', 'fail')}

In [24]:
def return_decisions(low, high, fail):
    # Columns = [neat_above, neat_below, neat_LLQ, neat_ULQ, NA]
    # Rows = [dil_above, dil_below, dil_LLQ, dil_ULQ, NA]
    HRP2_matrix = np.array([[high, high, high, high, high],
                            [high, low, low, high, fail],
                            [high, low, low, fail, fail],
                            [high, high, fail, high, high],
                            [fail, high, high, fail, fail]])

    other_matrix = np.array([[high, low, low, high, high],
                               [high, low, low, high, fail],
                               [high, low, low, fail, fail],
                               [high, low, fail, high, high],
                               [fail, low, low, fail, fail]])

    # decisions for various analytes
    decisions = {'HRP2_pg_ml': HRP2_matrix, 'LDH_Pan_pg_ml': other_matrix,
                 'LDH_Pv_pg_ml': other_matrix, 'CRP_ng_ml': other_matrix}
    return(decisions)

In [25]:
def run_compare(df, analyte_val, dil_val):
    above, below, LLQ, ULQ, NA = False, False, False, False, False
    val = df[analyte_val]
    thresh_val = dil_constants[dil_val] * threshholds[analyte_val]
    try:
        float_val = float(val)
        if math.isnan(float_val):
            NA = True
        elif float_val > thresh_val:
            above = True
        elif float_val < thresh_val:
            below = True
    except:
        if '<' in val:
            LLQ = True
        elif '>' in val:
            ULQ = True
    finally:
        return(np.array([above, below, LLQ, ULQ, NA]))

In [73]:
# generate an empty list to fill with small dfs, which will be combined
final_dfs = {}
# run counts for decision on what to keep
for analyte in threshholds.keys():
# for analyte in ['HRP2_pg_ml']:
    dil_dfs = []
    for max_dilution in dil_constants.keys():
        # create partial function for generating decision vectors
        partial_compare = partial(run_compare, analyte_val=analyte, dil_val=max_dilution)
        # generate decision vectors
        samples_data['decision_vector'] = samples_data.apply(partial_compare, axis=1)
        # pull decision matrix for given analyte and concentration
        low, high, fail = dilution_sets[max_dilution]
        decisions = return_decisions(low, high, fail)
        decision_matrix = decisions[analyte]
        # generate an empty list to fill with tiny dfs, which will be combined
        tiny_dfs = []
        # iterate over patient_ids
        for i in samples_data['patient_id'].unique().tolist():
#         for i in ['pa-059']:
            tiny_df = pd.DataFrame(columns=['patient_id', analyte,
                                            '{}_dilution'.format(analyte),
                                            '{}_well'.format(analyte)])
            sub_data = samples_data.loc[samples_data['patient_id'] == i]
            if len(sub_data) == 6:
                vector_low = sub_data.loc[sub_data['concentration'].str.contains(low),
                                          'decision_vector'].item()
                vector_high = sub_data.loc[sub_data['concentration'].str.contains(high),
                                           'decision_vector'].item()
                decision = decision_matrix[vector_low, vector_high].item()
                if decision in [low, high]:
                    val = sub_data.loc[sub_data['concentration'].str.contains(decision),
                                       analyte].item()
                    well = sub_data.loc[sub_data['concentration'].str.contains(decision),
                                        'well'].item()
                elif decision == fail:
                    val = np.nan
                    well = np.nan
                else:
                    raise ValueError("Unexpected decision value: {}".format(val))
                tiny_df = tiny_df.append({'patient_id': i, analyte: val,
                                          '{}_dilution'.format(analyte): decision,
                                          '{}_well'.format(analyte): well}, ignore_index=True)
                tiny_dfs.append(tiny_df)
            else:
                continue
        tiny_df = pd.concat(tiny_dfs)
        dil_dfs.append(tiny_df)
    dil_df = pd.concat(dil_dfs)
    final_dfs[analyte] = dil_df

In [74]:
final_dfs['HRP2_pg_ml']

  patient_id    HRP2_pg_ml HRP2_pg_ml_dilution HRP2_pg_ml_well
0     pa-045       8984.03                 50x              h4
0     pa-047      11436.86                 50x              h6
0     pa-057       6813.35                 50x              h7
0     pa-058       7526.27                 50x              h8
0     pa-059       6729.35                 50x              h9
0     pa-045     247953.38               2500x              f8
0     pa-047     136984.47               2500x              f4
0     pa-057     473308.35               2500x              f2
0     pa-058   > 825000.00               2500x             d12
0     pa-059     322389.59               2500x             d10
0     pa-045     247953.38               2500x              f8
0     pa-047     136984.47               2500x              f4
0     pa-057   12486387.08             125000x              e2
0     pa-058    1387566.21             125000x             c12
0     pa-059   20523906.81             125000x             c10
0     pa-045     369620.66             125000x              e8
0     pa-047     221217.97             125000x              e4
0     pa-057   12486387.08             125000x              e2
0     pa-058    1387566.21             125000x             c12
0     pa-059   42005906.42            6250000x              d9
0     pa-045  < 6687500.00            6250000x              f7
0     pa-047  < 6687500.00            6250000x              f3
0     pa-057   30387794.22            6250000x              f1
0     pa-058    9871031.20            6250000x             d11
0     pa-059   42005906.42            6250000x              d9

In [75]:
final_dfs['LDH_Pv_pg_ml']

  patient_id   LDH_Pv_pg_ml LDH_Pv_pg_ml_dilution LDH_Pv_pg_ml_well
0     pa-045         498.19                   50x                h4
0     pa-047          10.56                  neat                g6
0     pa-057        5661.44                   50x                h7
0     pa-058         899.46                   50x                h8
0     pa-059       10090.90                   50x                h9
0     pa-045       26892.38                 2500x                f8
0     pa-047         223.61                   50x                h6
0     pa-057       32593.31                 2500x                f2
0     pa-058         899.46                   50x                h8
0     pa-059       44283.19                 2500x               d10
0     pa-045     1320907.94               125000x                e8
0     pa-047       23812.48                 2500x                f4
0     pa-057     1297203.64               125000x                e2
0     pa-058     1451403.81               125000x               c12
0     pa-059     1320907.94               125000x               c10
0     pa-045    73163849.46              6250000x                f7
0     pa-047     1143303.92               125000x                e4
0     pa-057    83267915.30              6250000x                f1
0     pa-058     1451403.81               125000x               c12
0     pa-059    76133337.68              6250000x                d9
0     pa-045  4759082564.43            312500000x                e7
0     pa-047  < 14562500.00              6250000x                f3
0     pa-057  4371729989.23            312500000x                e1
0     pa-058    54209933.53              6250000x               d11
0     pa-059    76133337.68              6250000x                d9